{% extends "LAYOUT.html" %}

{% load static %}

{% block title %}Dashboard{% endblock %}


{% block additionalCSS %}
<link href="{% static 'page/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<main class="flex jcc aic">
    <div class="mainContentContainer flex-v ">
        <h1>Dashboard</h1>
        <!-- <div class="grid grid2x1">
            <div class="card">Status : All Good</div>
            <div class="card">Timestamp : All Good</div>
        </div> -->
        <div class="grid grid4x1">
            <div class="card top-card flex-v">
                <h2>pH</h2>
                <h3>
                    <span class="value inline" id="pH"></span>
                    <span class="units inline"></span>
                </h3>
                <div class="safe-limit">
                    Safe Limit : <span></span>
                </div>
            </div>
            <div class="card top-card flex-v">
                <h2>Turbidity</h2>
                <h3>
                    <span class="value inline" id="Turbidity"></span>
                    <span class="units inline"></span>
                </h3>
                <div class="safe-limit">
                    Safe Limit : <span></span>
                </div>
            </div>
            <div class="card top-card flex-v">
                <h2>Temperature</h2>
                <h3>
                    <span class="value inline" id="Temperature"></span>
                    <span class="units inline"></span>
                </h3>
                <div class="safe-limit">
                    Safe Limit : <span></span>
                </div>
            </div>
            <div class="card flex-v jcsa timebox">
                <div class="flex jcsb aic">
                    <span>Sample Date: </span>
                    <span class="timestamp block" id="date"></span>
                </div>
                <div class="flex jcsb aic">
                    <span>Sample Time: </span>
                    <span class="timestamp block" id="time"></span>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="card flex-v">
                <h2>Predicted Parameters</h2>
                <div class="Barplot grid relative">
                    <!-- <div class="side relative">
                        <span class="block legend-text absolute">Safe Limit</span>
                    </div> -->
                    <div class="plot relative grid grid9x1">
                        <div class="safe-line absolute"></div>

                        <div id="Hardness" class="bar-track relative flex-v-rev aic">
                            <div style="height: 0%;" class="bar relative">
                                <div class="popup absolute">
                                    <div class="inline">
                                        <h3>
                                            <span class="now_value"></span>
                                            <span class="unit"></span>
                                        </h3>
                                    </div>
                                    <div class="safe-limit">
                                        Safe Limit : <span class="limit"></span> <span class="unit"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Solids" class="bar-track relative flex-v-rev aic">
                            <div style="height: 0%;" class="bar relative">
                                <div class="popup absolute">
                                    <div class="inline">
                                        <h3>
                                            <span class="now_value"></span>
                                            <span class="unit"></span>
                                        </h3>
                                    </div>
                                    <div class="safe-limit">
                                        Safe Limit : <span class="limit"></span> <span class="unit"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Chloramines" class="bar-track relative flex-v-rev aic">
                            <div style="height: 0%;" class="bar relative">
                                <div class="popup absolute">
                                    <div class="inline">
                                        <h3>
                                            <span class="now_value"></span>
                                            <span class="unit"></span>
                                        </h3>
                                    </div>
                                    <div class="safe-limit">
                                        Safe Limit : <span class="limit"></span> <span class="unit"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Sulfate" class="bar-track relative flex-v-rev aic">
                            <div style="height: 0%;" class="bar relative">
                                <div class="popup absolute">
                                    <div class="inline">
                                        <h3>
                                            <span class="now_value"></span>
                                            <span class="unit"></span>
                                        </h3>
                                    </div>
                                    <div class="safe-limit">
                                        Safe Limit : <span class="limit"></span> <span class="unit"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Conductivity" class="bar-track relative flex-v-rev aic">
                            <div style="height: 0%;" class="bar relative">
                                <div class="popup absolute">
                                    <div class="inline">
                                        <h3>
                                            <span class="now_value"></span>
                                            <span class="unit"></span>
                                        </h3>
                                    </div>
                                    <div class="safe-limit">
                                        Safe Limit : <span class="limit"></span> <span class="unit"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Organic_carbon" class="bar-track relative flex-v-rev aic">
                            <div style="height: 0%;" class="bar relative">
                                <div class="popup absolute">
                                    <div class="inline">
                                        <h3>
                                            <span class="now_value"></span>
                                            <span class="unit"></span>
                                        </h3>
                                    </div>
                                    <div class="safe-limit">
                                        Safe Limit : <span class="limit"></span> <span class="unit"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Trihalomethanes" class="bar-track relative flex-v-rev aic">
                            <div style="height: 0%;" class="bar relative">
                                <div class="popup absolute">
                                    <div class="inline">
                                        <h3>
                                            <span class="now_value"></span>
                                            <span class="unit"></span>
                                        </h3>
                                    </div>
                                    <div class="safe-limit">
                                        Safe Limit : <span class="limit"></span> <span class="unit"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Turbidity" class="bar-track relative flex-v-rev aic">
                            <div style="height: 0%;" class="bar relative">
                                <div class="popup absolute">
                                    <div class="inline">
                                        <h3>
                                            <span class="now_value"></span>
                                            <span class="unit"></span>
                                        </h3>
                                    </div>
                                    <div class="safe-limit">
                                        Safe Limit : <span class="limit"></span> <span class="unit"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Potability" class="bar-track relative flex-v-rev aic">
                            <div style="height: 0%;" class="bar relative">
                                <div class="popup absolute">
                                    <div class="inline">
                                        <h3>
                                            <span class="now_value"></span>
                                            <span class="unit"></span>
                                        </h3>
                                    </div>
                                    <div class="safe-limit">
                                        Safe Limit : <span class="limit"></span> <span class="unit"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- <div></div> -->
                    <div class="legend grid grid9x1">
                        <div class="legend-text">Hardness</div>
                        <div class="legend-text">Solids</div>
                        <div class="legend-text">Chloramines</div>
                        <div class="legend-text">Sulfate</div>
                        <div class="legend-text">Conductivity</div>
                        <div class="legend-text">Organic-Carbon</div>
                        <div class="legend-text">Trihalomethanes</div>
                        <div class="legend-text">Turbidity</div>
                        <div class="legend-text">Potability</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}


{% block additionalJS %}
<script src="{% static 'page/dashboard.js' %}"></script>
{% endblock %}