:root {
    --color-accent-1: hsl(217, 77%, 50%);
    --color-accent-2: hsl(217, 44%, 18%);

    --color-alert-1: hsl(347, 77%, 50%);
    --color-alert-2: hsl(24, 10%, 10%);

    --color-text-1: hsl(0, 0%, 95%);
    --color-text-2: hsl(217, 5%, 65%);

    --color-bg-1: hsl(217, 5%, 6%);
    --color-bg-2: hsl(217, 5%, 4%);

    --color-border: hsl(217, 20%, 17%);

    --fw-thin: 300; 
    --fw-regular: 400; 
    --fw-semibold: 500 ;
    --fw-bold: 700;

    --w-side: 20px;
    --w-content: min( calc(100vw - 2 * var(--w-side) ), 120ch);
}

* {
    margin: 0;
    padding: 0;
    color: var(--color-text-1);

    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--color-bg-2);
}

main {
    min-height: 100vh;
}

.mainContentContainer {
    width: var(--w-content);
    margin-block: var(--w-side);
}