.mainContentContainer {
    gap: var(--w-side);
}

.grid4x1 {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--w-side);
}

.grid2x1 {
    grid-template-columns: 1fr 1fr;
    gap: var(--w-side);
}

.card {
    border: 1px solid var(--color-border);
    border-radius: calc(var(--w-side) / 2 );
    padding: calc(var(--w-side) *1 );
    background-color: var(--color-bg-1);
    gap: calc(var(--w-side) / 2 );
} 

.grid .value {
    font-size: 2rem;
    font-weight: var(--fw-bold);
}

.card h2,
.card .units {
    font-weight: var(--fw-regular);
    font-size: 1rem;
}

.card .units {
    color: var(--color-text-2);
}

/* Barplot */


.Barplot {
    grid-template-columns: 11ch auto;
}

.Barplot .grid6x1 {
    grid-template-columns: repeat(6, 1fr);
}

.Barplot .bar-track {
    height: 20rem;
}

.Barplot > .plot{
    border-bottom: 1px solid var(--color-border);
}

.Barplot .bar {
    /* height: 50%; */
    width: min(4rem, calc(100% - 10px));
    background-color: var(--color-accent-1);
    border-top-right-radius: 0.35rem;
    border-top-left-radius: 0.35rem;
    transition: height 500ms ease-in;
}

.Barplot .bar[data-alert=true] {
    background-color: var(--color-alert-1);
}
    

.Barplot .plot:has(.bar:hover) .bar {
    transition: opacity 250ms ease-in-out;
    opacity: 0.4;
}

.Barplot .plot:has(.bar:hover) .bar:hover {
    opacity: 1;
    cursor: pointer;
}

.Barplot .legend-text {
    font-size: .75rem;
    color: var(--color-text-2);
    font-weight: var(--fw-regular);
}

.Barplot .legend .legend-text {
    text-align: center;
    margin-top: .3rem;
}

.Barplot .side .legend-text,
.safe-line {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

.safe-line {
    opacity: .5;
}

.Barplot .side .legend-text {
    text-align: right;
    padding-inline-end: 1ch;
    box-sizing: border-box;
}

.safe-line {
    border-top: 2px dashed var(--color-text-2);
}

.Barplot .bar .popup {
    top: 0;
    left: 33%;
    transform: translateY(-100%);
    border: 1px solid var(--color-border);
    background-color: hsla(0, 0%, 0%, 0.95);
    backdrop-filter: blur(10px);
    padding: 0px;
    width: 0px;
    opacity: 0;
    z-index: 100;
    border-radius: calc(var(--w-side) / 4 );
    box-shadow: 0px 0px 10px black;
    height: 0;
}

.Barplot .bar:hover .popup {
    top: calc(-1 * var(--w-side) / 2 );
    opacity: 1;
    width: 16ch;
    height: auto;
    padding: calc(var(--w-side) / 2 );

}

.Barplot .bar  .popup  h3 {
    margin-bottom: 0.5rem;
}

.Barplot .bar .popup h3 .now_value {
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
}
.Barplot .bar .popup .unit,
.Barplot .bar .popup .safe-limit,
.Barplot .bar .popup .safe-limit * {
    font-size: 0.875rem;
    font-weight: var(--fw-regular);
}

.Barplot .bar .popup .safe-limit,
.Barplot .bar .popup .safe-limit * {
    color: var(--color-text-2);
}

.Barplot .bar .popup h3 {
    margin-bottom: 0.5rem;
}
